body {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.bg-blue {
    background-color: #e3f2fd;
}

.border-bottom-dark {
    border-bottom: 1px solid rgba(41, 41, 41, 1)
}